.simple-lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(46, 47, 66, 0.8);
}

.sl-navigation .sl-prev,
.sl-navigation .sl-next {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    fill: #ffffff;
    background-color: transparent;
    transition: color 250ms ease-out, background-color 250ms ease-out;
}

.sl-wrapper .sl-navigation button.sl-prev {
    left: 0px;
}

.sl-wrapper .sl-navigation button.sl-next {
    right: 0px;
}

.sl-prev:hover,
.sl-next:hover,
.sl-prev:focus,
.sl-next:focus {
    fill: #6c8cff;
    border: none;
}

.sl-next:disabled,
.sl-prev:disabled {
    cursor: not-allowed;
    fill: #808080;
}

.sl-next:disabled:hover,
.sl-prev:disabled:hover {
    cursor: not-allowed;
    fill: #808080;
}

.sl-current,
.sl-total {
    font-family: 'Montserrat', sans-serif;
    color:#ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.sl-wrapper .sl-counter {
    color: #ffffff;
    top: 16px;
    left: 16px;
}

.sl-wrapper .sl-close {
    top: 16px;
    right: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.sl-wrapper .sl-close .lightbox-close-icon {
    fill: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sl-close:hover .lightbox-close-icon,
.sl-close:focus .lightbox-close-icon {
    fill: #6c8cff;
}

.sl-caption {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}